@{
    ViewData["Title"] = "Home Page";
}

<h1>
    Welcome to DevOps Wizard!  this application allows you to quickstart your DevOps in your organization.
</h1>
<p>
    This application will connect to your azure DevOps instance in your organization.  Please be sure you are able to authorize access to your DevOps tenant in your organization.
</p>
<img src="https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/raw/master/3-WebApp-multi-APIs/ReadmeFiles/architecture.png"/>