@model ServerWizardExample.Pages.Wizard.ContactInformationStep

<title>Select Template</title>
<meta charset="utf-8">
<meta name="viewport" content="">
<meta name="msapplication-config" content="none">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="none">
<link id="page-icon" rel="shortcut icon" href="https://cdn.vsassets.io/content/icons/favicon.ico">

<br />
<br />
<br />
<br />

<div class="right-pane ci-getsources-container" role="region" aria-label="Build pipeline editor - templates catalog">
    @*<div class="dtc-templates-parent-container source-selection constrained-width" style="overflow-y:auto; max-height: 700px;">*@
    <div class="source-selection constrained-width" style="overflow-y:auto; max-height: 700px;">
        <div class="dtc-templates-container">
            <div role="presentation" class="ms-FocusZone dtc-template-list" data-is-scrollable="true" data-focuszone-id="FocusZone498">
                <div class="ms-GroupedList root_b465606f" data-automationid="GroupedList" data-is-scrollable="false" role="presentation">
                    <div class="ms-List" role="list">
                        <div class="ms-List-surface" role="presentation">
                            <div class="ms-List-page" role="presentation">
                                <div role="listitem" class="ms-List-cell" data-list-index="0" data-automationid="ListCell">
                                    <div class="ms-GroupedList-group group_b465606f" role="presentation">
                                        <div class="dtc-section-header dtc-templates-sublist-header">
                                            <div class="dtc-section-label">Featured</div>
                                            <div class="dtc-section-line">
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="ms-List" role="list">
                                            <div class="ms-List-surface" role="presentation">
                                                <div class="ms-List-page" role="presentation">
                                                    <div role="listitem" class="ms-List-cell" data-list-index="0" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE67">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone503">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/71a9a2d3-a98a-4caa-96ab-affca411ecda/1.214.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE67">.NET Desktop</div>
                                                                    <div class="info-description">Build and test a .NET or Windows classic desktop solution.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__506" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__504">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__506">Apply .NET Desktop template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="1" data-automationid="ListCell">
                                                        <div class="dtc-template-item is-selected" data-is-focusable="true" aria-labelledby="TEMPLATE68" tabindex="0">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone507">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/df857559-8715-46eb-a74e-ac98b9178aa0/1.0.16/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE68">Android</div>
                                                                    <div class="info-description">Build, test, sign, and align an Android APK.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__510" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__508">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__510">Apply Android template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="2" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE69">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone511">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/71a9a2d3-a98a-4caa-96ab-affca411ecda/1.214.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE69">ASP.NET</div>
                                                                    <div class="info-description">Build and test an ASP.NET web application.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__514" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__512">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__514">Apply ASP.NET template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="3" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE70">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone515">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/497d490f-eea7-4f2b-ab94-48d9c1acdcb1/4.224.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE70">Azure Web App for ASP.NET</div>
                                                                    <div class="info-description">Build, package, test, and deploy an ASP.NET Azure Web App.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__518" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__516">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__518">Apply Azure Web App for ASP.NET template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="4" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE71">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone519">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/e28912f1-0114-4464-802a-a3a35437fd16/2.221.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE71">Docker container</div>
                                                                    <div class="info-description">Build a Docker image and push it to a container registry.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__522" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__520">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__522">Apply Docker container template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="5" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE72">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone523">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/ac4ee482-65da-4485-a532-7b085873e532/4.223.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE72">Maven</div>
                                                                    <div class="info-description">Build and test a Java project with Apache Maven.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__526" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__524">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__526">Apply Maven template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="6" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE73">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone527">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/33c63b11-352b-45a2-ba1b-54cb568a29ca/0.220.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE73">Python package</div>
                                                                    <div class="info-description">Create and test a Python package on multiple Python versions.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__530" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__528">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__530">Apply Python package template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="7" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE74">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone531">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/1e78dc1b-9132-4b18-9c75-0e7ecc634b74/5.220.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE74">Xcode</div>
                                                                    <div class="info-description">Build, test, archive, or package an Xcode workspace on macOS.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__534" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__532">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__534">Apply Xcode template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ms-List-page" role="presentation">
                                <div role="listitem" class="ms-List-cell" data-list-index="1" data-automationid="ListCell">
                                    <div class="ms-GroupedList-group group_b465606f" role="presentation">
                                        <div class="dtc-section-header dtc-templates-sublist-header">
                                            <div class="dtc-section-label">Others</div>
                                            <div class="dtc-section-line">
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="ms-List" role="list">
                                            <div class="ms-List-surface" role="presentation">
                                                <div class="ms-List-page" role="presentation">
                                                    <div role="listitem" class="ms-List-cell" data-list-index="8" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE75">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone535">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/3a6a2d63-f2b2-4e93-bcf9-0cbe22f5dc26/1.212.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE75">Ant</div>
                                                                    <div class="info-description">Build and test a Java project with Apache Ant.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__538" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__536">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__538">Apply Ant template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="9" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE76">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone539">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/5541a522-603c-47ad-91fc-a4b1d163081b/2.221.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE76">ASP.NET Core</div>
                                                                    <div class="info-description">Build and test an ASP.NET Core web application.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__542" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__540">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__542">Apply ASP.NET Core template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="10" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE77">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone543">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/71a9a2d3-a98a-4caa-96ab-affca411ecda/1.214.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE77">ASP.NET Core (.NET Framework)</div>
                                                                    <div class="info-description">Build an ASP.NET Core web application that targets the full .NET Framework.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__546" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__544">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__546">Apply ASP.NET Core (.NET Framework) template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="11" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE78">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone547">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/71a9a2d3-a98a-4caa-96ab-affca411ecda/1.214.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE78">ASP.NET with containers</div>
                                                                    <div class="info-description">Build and push an ASP.NET application with container support.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__550" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__548">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__550">Apply ASP.NET with containers template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="12" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE79">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone551">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/2ca8fe15-42ea-4b26-80f1-e0738ec17e89/2.224.3/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE79">Azure Cloud Services</div>
                                                                    <div class="info-description">Build, package, test, and deploy an Azure Cloud Service.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__554" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__552">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__554">Apply Azure Cloud Services template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="13" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE80">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone555">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/501dd25d-1785-43e4-b4e5-a5c78ccc0573/2.223.1/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE80">Azure Functions for .NET</div>
                                                                    <div class="info-description">Build and package a .NET based Azure Functions application to be deployed on Azure Functions.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__558" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__556">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__558">Apply Azure Functions for .NET template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="14" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE81">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone559">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/501dd25d-1785-43e4-b4e5-a5c78ccc0573/2.223.1/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE81">Azure Functions for Node.js</div>
                                                                    <div class="info-description">Build and package a Node.js based Azure Functions application to be deployed on Azure Functions.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__562" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__560">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__562">Apply Azure Functions for Node.js template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="15" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE82">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone563">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/501dd25d-1785-43e4-b4e5-a5c78ccc0573/2.223.1/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE82">Azure Functions for Powershell</div>
                                                                    <div class="info-description">Build and package a Powershell based Azure Functions application to be deployed on Azure Functions.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__566" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__564">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__566">Apply Azure Functions for Powershell template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="16" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE83">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone567">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/501dd25d-1785-43e4-b4e5-a5c78ccc0573/2.223.1/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE83">Azure Functions for Python</div>
                                                                    <div class="info-description">Build and package a Python based Azure Functions application to be deployed on Azure Functions.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__570" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__568">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__570">Apply Azure Functions for Python template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="17" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE84">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone571">
                                                                <i class="bowtie-icon dtc-template-icon dtc-template-bowtie-icon bowtie-build"></i>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE84">Azure Kubernetes Service </div>
                                                                    <div class="info-description">Build a container image, push it to the specified container registry. After image push is complete, package the Helm chart and publish it as an artifact.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__574" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__572">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__574">Apply Azure Kubernetes Service  template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ms-List-page" role="presentation">
                                                    <div role="listitem" class="ms-List-cell" data-list-index="18" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE109">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone671">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/97ef6e59-b8cc-48aa-9937-1a01e35e7584/2.198.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE109">Azure Service Fabric application</div>
                                                                    <div class="info-description">Build and package an Azure Service Fabric application.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__674" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__672">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__674">Apply Azure Service Fabric application template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="19" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE110">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone675">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/97ef6e59-b8cc-48aa-9937-1a01e35e7584/2.198.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE110">Azure Service Fabric application with Docker support</div>
                                                                    <div class="info-description">Build and package an Azure Service Fabric application that contains Docker images to be pushed to a container registry.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__678" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__676">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__678">Apply Azure Service Fabric application with Docker support template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="20" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE111">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone679">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/497d490f-eea7-4f2b-ab94-48d9c1acdcb1/4.224.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE111">Azure Web App for Java</div>
                                                                    <div class="info-description">Build a Java WAR file and deploy it to an Azure Web App.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__682" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__680">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__682">Apply Azure Web App for Java template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="21" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE112">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone683">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/334727f4-9495-4f9d-a391-fc621d671474/0.214.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE112">Go (preview)</div>
                                                                    <div class="info-description">Build a Go application.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__686" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__684">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__686">Apply Go (preview) template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="22" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE113">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone687">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/8d8eebd8-2b94-4c97-85af-839254cc6da4/3.223.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE113">Gradle</div>
                                                                    <div class="info-description">Build and test a Java project with Gradle.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__690" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__688">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__690">Apply Gradle template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="23" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE114">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone691">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/c24b86d4-4256-4925-9a29-246f81aa64a7/2.217.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE114">Jenkins</div>
                                                                    <div class="info-description">Queue a Jenkins job and download its artifacts.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__694" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__692">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__694">Apply Jenkins template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="24" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE115">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone695">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/9e9db38a-b40b-4c13-b7f0-31031c894c22/1.186.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE115">Load test using Azure IaaS virtual machines</div>
                                                                    <div class="info-description">Create a rig on Azure IaaS virtual machines to run load tests using VSTS cloud-based load testing service.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__698" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__696">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__698">Apply Load test using Azure IaaS virtual machines template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="25" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE116">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone699">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/2ca8fe15-42ea-4b26-80f1-e0738ec17e89/2.224.3/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE116">Machine Learning Model</div>
                                                                    <div class="info-description">Build and deploy a ML model using Azure Machine Learning CLI.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__702" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__700">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__702">Apply Machine Learning Model template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="26" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE117">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone703">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/fe47e961-9fa8-4106-8639-368c022d43ad/1.221.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE117">Node.js With Grunt</div>
                                                                    <div class="info-description">Build a Node.js application using the Grunt task runner.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__706" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__704">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__706">Apply Node.js With Grunt template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="27" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE118">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone707">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/fe47e961-9fa8-4106-8639-368c022d43ad/1.221.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE118">Node.js With gulp</div>
                                                                    <div class="info-description">Build a Node.js application using the gulp task runner.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__710" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__708">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__710">Apply Node.js With gulp template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ms-List-page" role="presentation">
                                                    <div role="listitem" class="ms-List-cell" data-list-index="28" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE119">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone711">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/71a9a2d3-a98a-4caa-96ab-affca411ecda/1.214.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE119">Universal Windows Platform</div>
                                                                    <div class="info-description">Build and test a Universal Windows Platform application using Visual Studio.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__714" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__712">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__714">Apply Universal Windows Platform template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="29" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE120">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone715">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/27edd013-36fd-43aa-96a3-7d73e1e35285/1.214.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE120">Xamarin.Android</div>
                                                                    <div class="info-description">Build an Android app and Xamarin.UITest assembly. Test on real devices with App Center.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__718" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__716">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__718">Apply Xamarin.Android template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="30" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE121">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone719">
                                                                <div class="ms-Image dtc-template-icon root-69"><img class="ms-Image-image is-loaded ms-Image-image--contain ms-Image-image--portrait is-fadeIn image-72" src="https://dev.azure.com/cj4599868/_apis/distributedtask/tasks/0f077e3a-af59-496d-81bc-ad971b7464e0/2.214.0/icon" alt=""></div>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE121">Xamarin.iOS</div>
                                                                    <div class="info-description">Build a Xamarin.iOS app and Xamarin.UITest assembly. Test on real devices with App Center.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__722" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__720">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__722">Apply Xamarin.iOS template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="listitem" class="ms-List-cell" data-list-index="31" data-automationid="ListCell">
                                                        <div class="dtc-template-item" data-is-focusable="true" aria-labelledby="TEMPLATE122">
                                                            <div role="presentation" class="ms-FocusZone" data-focuszone-id="FocusZone723">
                                                                <i class="bowtie-icon dtc-template-icon dtc-template-bowtie-icon bowtie-build"></i>
                                                                <div class="dtc-template-info">
                                                                    <div class="info-name" id="TEMPLATE122">Empty pipeline</div>
                                                                    <div class="info-description">Start with an empty pipeline and add your own steps.</div>
                                                                </div>
                                                                <div class="dtc-template-float-right">
                                                                    <button type="button" class="ms-Button dtc-template-item-buttons ms-Button--primary root-68" aria-label="Apply" aria-describedby="id__726" data-is-focusable="true" tabindex="-1">
                                                                        <div class="ms-Button-flexContainer flexContainer-45">
                                                                            <div class="ms-Button-textContainer textContainer-46">
                                                                                <div class="ms-Button-label label-48" id="id__724">Apply</div>
                                                                            </div>
                                                                            <span class="ms-Button-screenReaderText screenReaderText-51" id="id__726">Apply Empty pipeline template</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
